.promo {
    background: -webkit-linear-gradient(90deg, #ffffff,#80c5ff);
    background: linear-gradient(90deg, #ffffff,#80c5ff);
    &__description {
        display: flex;
        justify-content: center;
        gap: 5rem;
        padding: 5rem 1rem;
        align-items: center;
        &_text {
            width: 50rem;
            max-width: 50%;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2;
        }
    }
    &__characteristic {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        padding-bottom: 8rem;
        @media (max-width: 930px) {
            flex-direction: column;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2;
        margin-right: 1.7rem;
        &_item {
            margin-left: .7rem;
        }
    }
    &__btn {
        @include btn($color: black);
        padding: 1.8rem 5rem;
        margin: 2rem;
        &:hover {
            cursor: pointer;
            border: 1px solid #fff;
        }
    }
}